In [1]:
import scanpy as sc
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import cna
import multianndata as mad

# For Aparna's Import
import scipy.io

# For reproducibility
np.random.seed(0)

# AGE

## Single Cell

In [2]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_meta_age.csv')
print(meta.shape)

(12591, 9)

In [3]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_harmony_age.csv')
print(harmony.shape)

(12591, 20)

In [4]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_umap_age.csv')
print(umap.shape)

(12591, 2)

In [5]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Age'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'final_annotation' 'Responder.Status' 'Race' 'ISN'
 'Type']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

                       Age
sample
AMPSLEkid_cells_0134  29.0
AMPSLEkid_cells_0137  18.0
AMPSLEkid_cells_0138  24.0
AMPSLEkid_cells_0139  28.0
AMPSLEkid_cells_0140   9.0

In [6]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [7]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [8]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Age, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 63.43772506713867
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 43.07426071166992
	20th percentile R2(t,t-1): 0.750810730457306
	taking step 3
	median kurtosis: 32.59674835205078
	20th percentile R2(t,t-1): 0.9043575286865234
	taking step 4
	median kurtosis: 24.89748191833496
	20th percentile R2(t,t-1): 0.9453570485115051
	taking step 5
	median kurtosis: 19.845382690429688
	20th percentile R2(t,t-1): 0.9633108735084533
	taking step 6
	median kurtosis: 16.429214477539062
	20th percentile R2(t,t-1): 0.9762293457984924
	taking step 7
	median kurtosis: 13.926634788513184
	20th percentile R2(t,t-1): 0.9843466401100158
stopping after 7 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test
computing neighborhood-level FDRs
13
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.12478752124787522 , 13 PCs used
total r^2 between top 13 NAM PCs and outcome is 0.15

# SEX

## Single Cell

In [9]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_meta_sex.csv')
print(meta.shape)

(12591, 9)

In [11]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_harmony_sex.csv')
print(harmony.shape)

(12591, 20)

In [12]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_umap_sex.csv')
print(umap.shape)

(12591, 2)

In [13]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Sex'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'final_annotation' 'Responder.Status' 'Race' 'ISN' 'Type']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

                      Sex
sample
AMPSLEkid_cells_0134  1.0
AMPSLEkid_cells_0137  1.0
AMPSLEkid_cells_0138  1.0
AMPSLEkid_cells_0139  1.0
AMPSLEkid_cells_0140  1.0

In [14]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [15]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [16]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Sex, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 63.43772506713867
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 43.07426071166992
	20th percentile R2(t,t-1): 0.750810730457306
	taking step 3
	median kurtosis: 32.59674835205078
	20th percentile R2(t,t-1): 0.9043575286865234
	taking step 4
	median kurtosis: 24.89748191833496
	20th percentile R2(t,t-1): 0.9453570485115051
	taking step 5
	median kurtosis: 19.845382690429688
	20th percentile R2(t,t-1): 0.9633108735084533
	taking step 6
	median kurtosis: 16.429214477539062
	20th percentile R2(t,t-1): 0.9762293457984924
	taking step 7
	median kurtosis: 13.926634788513184
	20th percentile R2(t,t-1): 0.9843466401100158
stopping after 7 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
2
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.36866313368663134 , 2 PCs used
total r^2 between top 2 NAM PCs and outcome is 0.03

# RESPONSE

## Single Cell

In [17]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_meta_response.csv')
print(meta.shape)

(9514, 10)

In [18]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_harmony_response.csv')
print(harmony.shape)

(9514, 20)

In [19]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_umap_response.csv')
print(umap.shape)

(9514, 2)

In [20]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Responder_Status'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'final_annotation' 'Responder.Status' 'Race' 'ISN'
 'Type']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

                      Responder_Status
sample
AMPSLEkid_cells_0134               0.0
AMPSLEkid_cells_0137               2.0
AMPSLEkid_cells_0138               2.0
AMPSLEkid_cells_0139               2.0
AMPSLEkid_cells_0140               0.0

In [21]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [22]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [23]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Responder_Status, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 50.739593505859375
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 35.00537109375
	20th percentile R2(t,t-1): 0.7539314031600952
	taking step 3
	median kurtosis: 26.470333099365234
	20th percentile R2(t,t-1): 0.9063006520271302
	taking step 4
	median kurtosis: 20.533781051635742
	20th percentile R2(t,t-1): 0.9482423782348632
	taking step 5
	median kurtosis: 16.708977699279785
	20th percentile R2(t,t-1): 0.9657996892929077
	taking step 6
	median kurtosis: 13.999242782592773
	20th percentile R2(t,t-1): 0.978196132183075
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.067993200679932 , 10 PCs used
total r^2 between top 10 NAM PCs and outcome is 0.17

# RACE

## Single Cell

In [24]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_meta_race.csv')
print(meta.shape)

(12591, 16)

In [25]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_harmony_race.csv')
print(harmony.shape)

(12591, 20)

In [26]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/b_plasma/age_sex_response_race/sc_umap_race.csv')
print(umap.shape)

(12591, 2)

# SINGLENUC

## CHRONICITY

In [2]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sn_b_plasma_chronicity_meta.csv')
meta = meta.join(pd.get_dummies(meta['Race'], prefix = "Race", prefix_sep = "", drop_first = False))
meta = meta.join(pd.get_dummies(meta['Site'], prefix = "Site", prefix_sep = "", drop_first = False))
meta = meta.join(pd.get_dummies(meta['Responder.Status'], prefix = "", prefix_sep = "", drop_first = False))
print(meta.shape)

(645, 66)

In [5]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sn_b_plasma_chronicity_harmony.csv')
print(harmony.shape)

(645, 20)

In [6]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sn_b_plasma_chronicity_umap.csv')
print(umap.shape)

(645, 2)

In [7]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="individual")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Chronicity'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'Annot.separate' 'dataset' 'Site' 'broad.type'
 'doublet_classification' 'AMP.ID' 'Clinical.Response.at.12.weeks'
 'Clinical.Response.at.26.weeks' 'Clinical.Response.at.52.weeks'
 'Responder.Status' 'Race' 'processing.date' 'XTR.WTA.batch' 'DASH.batch'
 'index' 'seq.submission.date' 'Flow.cell']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

            Chronicity
individual
384                2.0
426                1.0
1131               1.0
1135               2.0
1136               1.0

In [8]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [9]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [10]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 10.201715272771914
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 7.981574663249286
	20th percentile R2(t,t-1): 0.7280142426490783
	taking step 3
	median kurtosis: 6.552136309751587
	20th percentile R2(t,t-1): 0.9123292565345764
stopping after 3 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
19
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.6203379662033797 , 19 PCs used
total r^2 between top 19 NAM PCs and outcome is 0.76

## ACTIVITY

In [27]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sn_b_plasma_activity_meta.csv')
meta = meta.join(pd.get_dummies(meta['Race'], prefix = "Race", prefix_sep = "", drop_first = False))
meta = meta.join(pd.get_dummies(meta['Site'], prefix = "Site", prefix_sep = "", drop_first = False))
meta = meta.join(pd.get_dummies(meta['Responder.Status'], prefix = "", prefix_sep = "", drop_first = False))
print(meta.shape)

(651, 68)

In [4]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sn_b_plasma_activity_harmony.csv')
print(harmony.shape)

(651, 20)

In [5]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sn_b_plasma_activity_umap.csv')
print(umap.shape)

(651, 2)

In [6]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="individual")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Activity'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'Annot.separate' 'dataset' 'Site' 'broad.type'
 'doublet_classification' 'AMP.ID' 'Clinical.Response.at.12.weeks'
 'Clinical.Response.at.26.weeks' 'Clinical.Response.at.52.weeks'
 'Responder.Status' 'Race' 'processing.date' 'XTR.WTA.batch' 'DASH.batch'
 'index' 'seq.submission.date' 'Flow.cell']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

            Activity
individual
137              6.0
384             13.0
426              9.0
1131            13.0
1135             9.0

In [7]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [8]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [10]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Activity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 9.9413662455135
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 8.009038081819325
	20th percentile R2(t,t-1): 0.7289428472518921
	taking step 3
	median kurtosis: 6.732019974985008
	20th percentile R2(t,t-1): 0.9132646918296814
stopping after 3 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
18
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.7065293470652935 , 18 PCs used
total r^2 between top 18 NAM PCs and outcome is 0.70

# SINGLECELL

## CHRONICITY

In [25]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_b_plasma_chronicity_meta.csv')
print(meta.shape)

(10773, 2)

In [26]:
meta

       individual  Chronicity
0             143           2
1             143           2
2             143           2
3             150           5
4             150           5
...           ...         ...
10768         850           4
10769        1139           4
10770        2743           4
10771         844           6
10772         844           6

[10773 rows x 2 columns]

In [15]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_b_plasma_chronicity_harmony.csv')
print(harmony.shape)

(10773, 20)

In [16]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_b_plasma_chronicity_umap.csv')
print(umap.shape)

(10773, 2)

In [17]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="individual")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Chronicity'])
d.samplem.head()

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

            Chronicity
individual
143                2.0
150                5.0
351                1.0
382                4.0
384                3.0

In [18]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [19]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [20]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 49.58375080459221
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 33.4925961682007
	20th percentile R2(t,t-1): 0.7560792565345764
	taking step 3
	median kurtosis: 25.457456270007647
	20th percentile R2(t,t-1): 0.9072561621665954
	taking step 4
	median kurtosis: 19.5753763365971
	20th percentile R2(t,t-1): 0.9483010411262512
	taking step 5
	median kurtosis: 15.822754792904707
	20th percentile R2(t,t-1): 0.9653379201889039
	taking step 6
	median kurtosis: 13.3513222495574
	20th percentile R2(t,t-1): 0.9776004552841187
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
8
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.32356764323567644 , 8 PCs used
total r^2 between top 8 NAM PCs and outcome is 0.12

### B

In [83]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_b_chronicity_meta.csv')
print(meta.shape)

(8262, 3)

In [84]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_b_chronicity_harmony.csv')
print(harmony.shape)

(8262, 20)

In [85]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_b_chronicity_umap.csv')
print(umap.shape)

(8262, 2)

In [86]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="individual")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Chronicity'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['annotation']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

            Chronicity
individual
143                2.0
150                5.0
351                1.0
382                4.0
384                3.0

In [87]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [88]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [89]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 50.80285508126559
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 35.017678085600004
	20th percentile R2(t,t-1): 0.7489444017410278
	taking step 3
	median kurtosis: 26.52789945748493
	20th percentile R2(t,t-1): 0.9029000401496887
	taking step 4
	median kurtosis: 20.991645628955162
	20th percentile R2(t,t-1): 0.9450396299362183
	taking step 5
	median kurtosis: 17.089432815600382
	20th percentile R2(t,t-1): 0.9639031887054443
	taking step 6
	median kurtosis: 14.435860184805087
	20th percentile R2(t,t-1): 0.9743913412094116
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving
computing SVD

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

performing association test
computing neighborhood-level FDRs
7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.4390560943905609 , 7 PCs used
total r^2 between top 7 NAM PCs and outcome is 0.10

### PLASMA

In [97]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_plasma_chronicity_meta.csv')
print(meta.shape)

(2502, 3)

In [96]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_plasma_chronicity_harmony.csv')
print(harmony.shape)

(2502, 20)

In [95]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_plasma_chronicity_umap.csv')
print(umap.shape)

(2502, 2)

In [99]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="individual")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Chronicity'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['annotation']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

            Chronicity
individual
137               11.0
150                5.0
384                3.0
404                2.0
426                2.0

In [100]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [101]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [102]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 40.777565514153395
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 26.88847287227632
	20th percentile R2(t,t-1): 0.7763214826583862
	taking step 3
	median kurtosis: 20.49198678081835
	20th percentile R2(t,t-1): 0.9194254636764526
	taking step 4
	median kurtosis: 16.212708505400236
	20th percentile R2(t,t-1): 0.953707504272461
	taking step 5
	median kurtosis: 13.47861529340866
	20th percentile R2(t,t-1): 0.9706236481666565
stopping after 5 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_association.py:57: UserWarning: data supported use of 20 NAM PCs, which is the maximum considered. Consider allowing more PCs by using the "ks" argument.
  warnings.warn(('data supported use of {} NAM PCs, which is the maximum considered. '+\

computing neighborhood-level FDRs
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.3738626137386261 , 20 PCs used
total r^2 between top 20 NAM PCs and outcome is 0.24

## ACTIVITY

In [11]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_b_plasma_activity_meta.csv')
print(meta.shape)

(10805, 55)

In [12]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_b_plasma_activity_harmony.csv')
print(harmony.shape)

(10805, 20)

In [13]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b_plasma/sc_b_plasma_activity_umap.csv')
print(umap.shape)

(10805, 2)

In [14]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="individual")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Activity'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'Annot.separate' 'dataset' 'Site' 'broad.type'
 'doublet_classification' 'arnon_cluster' 'AMP.ID'
 'Clinical.Response.at.12.weeks' 'Clinical.Response.at.26.weeks'
 'Clinical.Response.at.52.weeks' 'Responder.Status' 'Race'
 'processing.date' 'XTR.WTA.batch' 'DASH.batch' 'index'
 'seq.submission.date' 'Flow.cell']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

            Activity
individual
137              6.0
143              5.0
150             14.0
351              5.0
382              9.0

In [15]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [16]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [17]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Activity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 49.30687636981134
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 33.54951410372742
	20th percentile R2(t,t-1): 0.7554404020309449
	taking step 3
	median kurtosis: 25.460142329387025
	20th percentile R2(t,t-1): 0.9078884363174439
	taking step 4
	median kurtosis: 19.65348803999465
	20th percentile R2(t,t-1): 0.9481303691864014
	taking step 5
	median kurtosis: 15.887134486415475
	20th percentile R2(t,t-1): 0.9655054926872253
	taking step 6
	median kurtosis: 13.469841462353926
	20th percentile R2(t,t-1): 0.977596664428711
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_association.py:57: UserWarning: data supported use of 20 NAM PCs, which is the maximum considered. Consider allowing more PCs by using the "ks" argument.
  warnings.warn(('data supported use of {} NAM PCs, which is the maximum considered. '+\

computing neighborhood-level FDRs
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.06529347065293471 , 20 PCs used
total r^2 between top 20 NAM PCs and outcome is 0.27

# PLASMA

## SINGLE CELL CHRONICITY

In [13]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/plasma/sc_plasma_chronicity_meta.csv')
print(meta.shape)

(3990, 53)

In [14]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/plasma/sc_plasma_chronicity_harmony.csv')
print(harmony.shape)

(3990, 20)

In [15]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/plasma/sc_plasma_chronicity_umap.csv')
print(umap.shape)

(3990, 2)

In [16]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="individual")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Chronicity', 'Activity'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'Annot.separate' 'dataset' 'Site' 'broad.type'
 'doublet_classification' 'AMP.ID' 'Clinical.Response.at.12.weeks'
 'Clinical.Response.at.26.weeks' 'Clinical.Response.at.52.weeks'
 'Responder.Status' 'Race' 'processing.date' 'XTR.WTA.batch' 'DASH.batch'
 'index' 'seq.submission.date' 'Flow.cell']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

            Chronicity  Activity
individual
150                5.0      14.0
384                3.0      13.0
404                2.0       2.0
426                2.0       9.0
844                6.0       6.0

In [18]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [19]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [20]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 43.58424146564194
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 28.88652562628011
	20th percentile R2(t,t-1): 0.7892643213272095
	taking step 3
	median kurtosis: 22.157806222085114
	20th percentile R2(t,t-1): 0.9266062617301941
	taking step 4
	median kurtosis: 17.785887843263637
	20th percentile R2(t,t-1): 0.9579923987388611
	taking step 5
	median kurtosis: 14.61073679394837
	20th percentile R2(t,t-1): 0.972822630405426
	taking step 6
	median kurtosis: 12.572246771788627
	20th percentile R2(t,t-1): 0.9814222931861878
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
8
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.6325367463253675 , 8 PCs used
total r^2 between top 8 NAM PCs and outcome is 0.10

# B

## SINGLE CELL CHRONICITY

In [21]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b/sc_b_chronicity_meta.csv')
print(meta.shape)

(6783, 53)

In [22]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b/sc_b_chronicity_harmony.csv')
print(harmony.shape)

(6783, 20)

In [23]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna/b/sc_b_chronicity_umap.csv')
print(umap.shape)

(6783, 2)

In [24]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="individual")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Chronicity', 'Activity'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'Annot.separate' 'dataset' 'Site' 'broad.type'
 'doublet_classification' 'AMP.ID' 'Clinical.Response.at.12.weeks'
 'Clinical.Response.at.26.weeks' 'Clinical.Response.at.52.weeks'
 'Responder.Status' 'Race' 'processing.date' 'XTR.WTA.batch' 'DASH.batch'
 'index' 'seq.submission.date' 'Flow.cell']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

            Chronicity  Activity
individual
143                2.0       5.0
150                5.0      14.0
351                1.0       5.0
382                4.0       9.0
384                3.0      13.0

In [25]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [26]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [28]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
13
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.206979302069793 , 13 PCs used
total r^2 between top 13 NAM PCs and outcome is 0.18