In [1]:
import scanpy as sc
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import cna
import multianndata as mad

# For Aparna's Import
import scipy.io

# For reproducibility
np.random.seed(0)

In [2]:
sc_uni = dict()

# AGE

## Single Cell

In [3]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_meta_age.csv')
print(meta.shape)

(154032, 39)

In [4]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_harmony_age.csv')
print(harmony.shape)

(154032, 20)

In [5]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_umap_age.csv')
print(umap.shape)

(154032, 2)

In [6]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Sex', 'Age', 'Final_Chronicity', 'Final_Activity', 'First_biop', 'Pred_use', 'Responder_Status', 'Race_[A]',
       'Race_[A][B]', 'Race_[B]', 'Race_[B][AI]', 'Race_[B][W]', 'Race_[U]',
       'Race_[W]', 'Final_ISN_[III]', 'Final_ISN_[III][V]', 'Final_ISN_[IV]',
       'Final_ISN_[IV][V]', 'Final_ISN_[V]', 'Final_Site_Cincinnati',
       'Final_Site_Einstein', 'Final_Site_JHU', 'Final_Site_Michigan',
       'Final_Site_MUSC', 'Final_Site_Northwell', 'Final_Site_NYU',
       'Final_Site_Rochester', 'Final_Site_Texas Tech', 'Final_Site_UCLA',
       'Final_Site_UCSD', 'Final_Site_UCSF'])
d.samplem.head()

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'cluster_names' 'Responder.Status' 'Race' 'Final_ISN'
 'Type' 'Final_Site']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

,Sex,Age,Final_Chronicity,Final_Activity,First_biop,Pred_use,Responder_Status,Race_[A],Race_[A][B],Race_[B],...,Final_Site_JHU,Final_Site_Michigan,Final_Site_MUSC,Final_Site_Northwell,Final_Site_NYU,Final_Site_Rochester,Final_Site_Texas Tech,Final_Site_UCLA,Final_Site_UCSD,Final_Site_UCSF
sample,,,,,,,,,,,,,,,,,,,,,
AMPSLEkid_cells_0142,1.0,1.489979,4.0,16.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0366,2.0,-1.068691,7.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
AMPSLEkid_cells_0966,1.0,-0.794548,5.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
AMPSLEkid_cells_2748,1.0,-1.068691,8.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0138,1.0,0.576169,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [7]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [8]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [9]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Age, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 50.24106979370117
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 33.02307891845703
	20th percentile R2(t,t-1): 0.7615886211395264
	taking step 3
	median kurtosis: 22.02227783203125
	20th percentile R2(t,t-1): 0.9084737420082092
	taking step 4
	median kurtosis: 14.879904747009277
	20th percentile R2(t,t-1): 0.9440323233604431
	taking step 5
	median kurtosis: 10.545235633850098
	20th percentile R2(t,t-1): 0.9626616954803466
	taking step 6
	median kurtosis: 7.996293544769287
	20th percentile R2(t,t-1): 0.9743828177452087
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_association.py:57: UserWarning: data supported use of 20 NAM PCs, which is the maximum considered. Consider allowing more PCs by using the "ks" argument.
  warnings.warn(('data supported use of {} NAM PCs, which is the maximum considered. '+\

computing neighborhood-level FDRs
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.043795620437956206 , 20 PCs used
total r^2 between top 20 NAM PCs and outcome is 0.22

In [10]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/ALL_TISSUE/age_sex_response_race/sc_age_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/ALL_TISSUE/age_sex_response_race/sc_age_fdrs.csv", 
               res.fdrs, delimiter=",")

In [11]:
sc_uni['Age'] = res.p

## Single Nuclei

In [26]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_meta_age.csv')
print(meta.shape)

(50173, 9)

In [27]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_harmony_age.csv')
print(harmony.shape)

(50173, 20)

In [28]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_umap_age.csv')
print(umap.shape)

(50173, 2)

In [29]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Age'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'cluster_names' 'Responder.Status' 'Race' 'ISN'
 'Type']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

                       Age
sample
AMPSLEkid_cells_0137  10.0
AMPSLEkid_cells_0138  16.0
AMPSLEkid_cells_0139  20.0
AMPSLEkid_cells_0147  20.0
AMPSLEkid_cells_0366   3.0

In [30]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [31]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [32]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Age, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 13.259119033813477
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 9.410001754760742
	20th percentile R2(t,t-1): 0.7799340009689331
	taking step 3
	median kurtosis: 6.884187698364258
	20th percentile R2(t,t-1): 0.9179095029830933
stopping after 3 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_association.py:57: UserWarning: data supported use of 20 NAM PCs, which is the maximum considered. Consider allowing more PCs by using the "ks" argument.
  warnings.warn(('data supported use of {} NAM PCs, which is the maximum considered. '+\

computing neighborhood-level FDRs
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.1740825917408259 , 20 PCs used
total r^2 between top 20 NAM PCs and outcome is 0.63

In [33]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/ALL_TISSUE/age_sex_response_race/sn_age_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/ALL_TISSUE/age_sex_response_race/sn_age_fdrs.csv", 
               res.fdrs, delimiter=",")

# SEX

## Single Cell

In [12]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_meta_sex.csv')
print(meta.shape)

(154032, 39)

In [13]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_harmony_sex.csv')
print(harmony.shape)

(154032, 20)

In [14]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_umap_sex.csv')
print(umap.shape)

(154032, 2)

In [15]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Sex', 'Age', 'Final_Chronicity', 'Final_Activity', 'First_biop', 'Pred_use', 'Responder_Status', 'Race_[A]',
       'Race_[A][B]', 'Race_[B]', 'Race_[B][AI]', 'Race_[B][W]', 'Race_[U]',
       'Race_[W]', 'Final_ISN_[III]', 'Final_ISN_[III][V]', 'Final_ISN_[IV]',
       'Final_ISN_[IV][V]', 'Final_ISN_[V]', 'Final_Site_Cincinnati',
       'Final_Site_Einstein', 'Final_Site_JHU', 'Final_Site_Michigan',
       'Final_Site_MUSC', 'Final_Site_Northwell', 'Final_Site_NYU',
       'Final_Site_Rochester', 'Final_Site_Texas Tech', 'Final_Site_UCLA',
       'Final_Site_UCSD', 'Final_Site_UCSF'])
d.samplem.head()

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'cluster_names' 'Responder.Status' 'Race' 'Final_ISN'
 'Type' 'Final_Site']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

,Sex,Age,Final_Chronicity,Final_Activity,First_biop,Pred_use,Responder_Status,Race_[A],Race_[A][B],Race_[B],...,Final_Site_JHU,Final_Site_Michigan,Final_Site_MUSC,Final_Site_Northwell,Final_Site_NYU,Final_Site_Rochester,Final_Site_Texas Tech,Final_Site_UCLA,Final_Site_UCSD,Final_Site_UCSF
sample,,,,,,,,,,,,,,,,,,,,,
AMPSLEkid_cells_0142,1.0,1.489979,4.0,16.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0366,2.0,-1.068691,7.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
AMPSLEkid_cells_0966,1.0,-0.794548,5.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
AMPSLEkid_cells_2748,1.0,-1.068691,8.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0138,1.0,0.576169,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [16]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [17]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [18]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Sex, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 50.24106979370117
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 33.02307891845703
	20th percentile R2(t,t-1): 0.7615886211395264
	taking step 3
	median kurtosis: 22.02227783203125
	20th percentile R2(t,t-1): 0.9084737420082092
	taking step 4
	median kurtosis: 14.879904747009277
	20th percentile R2(t,t-1): 0.9440323233604431
	taking step 5
	median kurtosis: 10.545235633850098
	20th percentile R2(t,t-1): 0.9626616954803466
	taking step 6
	median kurtosis: 7.996293544769287
	20th percentile R2(t,t-1): 0.9743828177452087
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test
computing neighborhood-level FDRs
9
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.1571842815718428 , 9 PCs used
total r^2 between top 9 NAM PCs and outcome is 0.12

In [19]:
sc_uni['Sex'] = res.p

# RESPONSE

## Single Cell

In [20]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_meta_response.csv')
print(meta.shape)

(130904, 36)

In [21]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_harmony_response.csv')
print(harmony.shape)

(130904, 20)

In [22]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_umap_response.csv')
print(umap.shape)

(130904, 2)

In [26]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Sex', 'Age', 'Final_Chronicity', 'Final_Activity', 'First_biop', 'Pred_use', 'Responder_Status', 'Race_[A]',
       'Race_[A][B]', 'Race_[B]', 'Race_[B][AI]', 'Race_[U]',
       'Race_[W]', 'Final_ISN_[III]', 'Final_ISN_[III][V]', 'Final_ISN_[IV]',
       'Final_ISN_[IV][V]', 'Final_ISN_[V]', 
       'Final_Site_Einstein', 'Final_Site_JHU', 'Final_Site_Michigan',
       'Final_Site_MUSC', 'Final_Site_Northwell', 'Final_Site_NYU',
       'Final_Site_Rochester', 'Final_Site_Texas Tech', 
       'Final_Site_UCSD', 'Final_Site_UCSF'])
d.samplem.head()

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'cluster_names' 'Responder.Status' 'Race' 'Final_ISN'
 'Type' 'Final_Site']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

,Sex,Age,Final_Chronicity,Final_Activity,First_biop,Pred_use,Responder_Status,Race_[A],Race_[A][B],Race_[B],...,Final_Site_Einstein,Final_Site_JHU,Final_Site_Michigan,Final_Site_MUSC,Final_Site_Northwell,Final_Site_NYU,Final_Site_Rochester,Final_Site_Texas Tech,Final_Site_UCSD,Final_Site_UCSF
sample,,,,,,,,,,,,,,,,,,,,,
AMPSLEkid_cells_0142,1.0,1.612695,4.0,16.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
AMPSLEkid_cells_0366,2.0,-1.030751,7.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
AMPSLEkid_cells_0966,1.0,-0.747524,5.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
AMPSLEkid_cells_2748,1.0,-1.030751,8.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0138,1.0,0.668607,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [27]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [28]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [29]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Responder_Status, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 40.874427795410156
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 26.85399627685547
	20th percentile R2(t,t-1): 0.7663337349891662
	taking step 3
	median kurtosis: 18.085410118103027
	20th percentile R2(t,t-1): 0.9100850939750671
	taking step 4
	median kurtosis: 12.471662521362305
	20th percentile R2(t,t-1): 0.9460514187812805
	taking step 5
	median kurtosis: 9.115138053894043
	20th percentile R2(t,t-1): 0.9641231536865235
	taking step 6
	median kurtosis: 7.136253356933594
	20th percentile R2(t,t-1): 0.9752503514289856
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test
computing neighborhood-level FDRs
1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.15308469153084692 , 1 PCs used
total r^2 between top 1 NAM PCs and outcome is 0.04

In [30]:
sc_uni['Responder_Status'] = res.p

# RACE

## Single Cell

In [31]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_meta_race.csv')
print(meta.shape)

(154032, 39)

In [32]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_harmony_race.csv')
print(harmony.shape)

(154032, 20)

In [33]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_umap_race.csv')
print(umap.shape)

(154032, 2)

In [34]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Sex', 'Age', 'Final_Chronicity', 'Final_Activity', 'First_biop', 'Pred_use', 'Responder_Status', 'Race_[A]',
       'Race_[A][B]', 'Race_[B]', 'Race_[B][AI]', 'Race_[B][W]', 'Race_[U]',
       'Race_[W]', 'Final_ISN_[III]', 'Final_ISN_[III][V]', 'Final_ISN_[IV]',
       'Final_ISN_[IV][V]', 'Final_ISN_[V]', 'Final_Site_Cincinnati',
       'Final_Site_Einstein', 'Final_Site_JHU', 'Final_Site_Michigan',
       'Final_Site_MUSC', 'Final_Site_Northwell', 'Final_Site_NYU',
       'Final_Site_Rochester', 'Final_Site_Texas Tech', 'Final_Site_UCLA',
       'Final_Site_UCSD', 'Final_Site_UCSF'])
d.samplem.head()

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'cluster_names' 'Responder.Status' 'Race' 'Final_ISN'
 'Type' 'Final_Site']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

,Sex,Age,Final_Chronicity,Final_Activity,First_biop,Pred_use,Responder_Status,Race_[A],Race_[A][B],Race_[B],...,Final_Site_JHU,Final_Site_Michigan,Final_Site_MUSC,Final_Site_Northwell,Final_Site_NYU,Final_Site_Rochester,Final_Site_Texas Tech,Final_Site_UCLA,Final_Site_UCSD,Final_Site_UCSF
sample,,,,,,,,,,,,,,,,,,,,,
AMPSLEkid_cells_0142,1.0,1.489979,4.0,16.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0366,2.0,-1.068691,7.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
AMPSLEkid_cells_0966,1.0,-0.794548,5.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
AMPSLEkid_cells_2748,1.0,-1.068691,8.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0138,1.0,0.576169,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [35]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [36]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [56]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Race_[A]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 50.24106979370117
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 33.02307891845703
	20th percentile R2(t,t-1): 0.7615886211395264
	taking step 3
	median kurtosis: 22.02227783203125
	20th percentile R2(t,t-1): 0.9084737420082092
	taking step 4
	median kurtosis: 14.879904747009277
	20th percentile R2(t,t-1): 0.9440323233604431
	taking step 5
	median kurtosis: 10.545235633850098
	20th percentile R2(t,t-1): 0.9626616954803466
	taking step 6
	median kurtosis: 7.996293544769287
	20th percentile R2(t,t-1): 0.9743828177452087
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test
computing neighborhood-level FDRs
18
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.09499050094990501 , 18 PCs used
total r^2 between top 18 NAM PCs and outcome is 0.19

In [57]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Race_[A][B]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test
computing neighborhood-level FDRs
6
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.36196380361963804 , 6 PCs used
total r^2 between top 6 NAM PCs and outcome is 0.06

In [95]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Race_[B]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 50.24106979370117
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 33.02307891845703
	20th percentile R2(t,t-1): 0.7615886211395264
	taking step 3
	median kurtosis: 22.02227783203125
	20th percentile R2(t,t-1): 0.9084737420082092
	taking step 4
	median kurtosis: 14.879904747009277
	20th percentile R2(t,t-1): 0.9440323233604431
	taking step 5
	median kurtosis: 10.545235633850098
	20th percentile R2(t,t-1): 0.9626616954803466
	taking step 6
	median kurtosis: 7.996293544769287
	20th percentile R2(t,t-1): 0.9743828177452087
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test
computing neighborhood-level FDRs
16
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.049795020497950204 , 16 PCs used
total r^2 between top 16 NAM PCs and outcome is 0.19

In [97]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_race_[B]_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_race_[B]_fdrs.csv", 
               res.fdrs, delimiter=",")

In [59]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Race_[B][AI]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test
computing neighborhood-level FDRs
6
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.33556644335566443 , 6 PCs used
total r^2 between top 6 NAM PCs and outcome is 0.06

In [60]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Race_[B][W]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test
computing neighborhood-level FDRs
1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.8569143085691431 , 1 PCs used
total r^2 between top 1 NAM PCs and outcome is 0.00

In [61]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Race_[U]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_association.py:57: UserWarning: data supported use of 20 NAM PCs, which is the maximum considered. Consider allowing more PCs by using the "ks" argument.
  warnings.warn(('data supported use of {} NAM PCs, which is the maximum considered. '+\

computing neighborhood-level FDRs
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.16598340165983402 , 20 PCs used
total r^2 between top 20 NAM PCs and outcome is 0.20

In [37]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Race_[W]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 50.24106979370117
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 33.02307891845703
	20th percentile R2(t,t-1): 0.7615886211395264
	taking step 3
	median kurtosis: 22.02227783203125
	20th percentile R2(t,t-1): 0.9084737420082092
	taking step 4
	median kurtosis: 14.879904747009277
	20th percentile R2(t,t-1): 0.9440323233604431
	taking step 5
	median kurtosis: 10.545235633850098
	20th percentile R2(t,t-1): 0.9626616954803466
	taking step 6
	median kurtosis: 7.996293544769287
	20th percentile R2(t,t-1): 0.9743828177452087
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test
computing neighborhood-level FDRs
3
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.0337966203379662 , 3 PCs used
total r^2 between top 3 NAM PCs and outcome is 0.08

In [63]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_race_[W]_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sc_race_[W]_fdrs.csv", 
               res.fdrs, delimiter=",")

In [38]:
sc_uni['Race'] = res.p

## Single Nuclei

In [64]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_meta_race.csv')
print(meta.shape)

(50173, 13)

In [65]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_harmony_race.csv')
print(harmony.shape)

(50173, 20)

In [66]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_umap_race.csv')
print(umap.shape)

(50173, 2)

In [67]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Race_[A]', 'Race_[B]', 
                 'Race_[U]', 'Race_[W]'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'cluster_names' 'Responder.Status' 'Race' 'ISN'
 'Type']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

                      Race_[A]  Race_[B]  Race_[U]  Race_[W]
sample
AMPSLEkid_cells_0137       0.0       1.0       0.0       0.0
AMPSLEkid_cells_0138       0.0       0.0       1.0       0.0
AMPSLEkid_cells_0139       0.0       1.0       0.0       0.0
AMPSLEkid_cells_0147       0.0       0.0       1.0       0.0
AMPSLEkid_cells_0366       0.0       0.0       0.0       1.0

In [79]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [83]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [87]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Race_[B]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test
computing neighborhood-level FDRs
17
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.0160983901609839 , 17 PCs used
total r^2 between top 17 NAM PCs and outcome is 0.69

In [88]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_race_[B]_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_race_[B]_fdrs.csv", 
               res.fdrs, delimiter=",")

In [84]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Race_[W]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 13.259119033813477
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 9.410001754760742
	20th percentile R2(t,t-1): 0.7799340009689331
	taking step 3
	median kurtosis: 6.884187698364258
	20th percentile R2(t,t-1): 0.9179095029830933
stopping after 3 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
4
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.0165983401659834 , 4 PCs used
total r^2 between top 4 NAM PCs and outcome is 0.43

In [86]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_race_[W]_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/age_sex_response_race/sn_race_[W]_fdrs.csv", 
               res.fdrs, delimiter=",")

# SITE

## Single Cell

In [39]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/first_biop_pred_use_site/sc_meta_site.csv')
print(meta.shape)

(154032, 39)

In [40]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/first_biop_pred_use_site/sc_harmony_site.csv')
print(harmony.shape)

(154032, 20)

In [41]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/first_biop_pred_use_site/sc_umap_site.csv')
print(umap.shape)

(154032, 2)

In [42]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Sex', 'Age', 'Final_Chronicity', 'Final_Activity', 'First_biop', 'Pred_use', 'Responder_Status', 'Race_[A]',
       'Race_[A][B]', 'Race_[B]', 'Race_[B][AI]', 'Race_[B][W]', 'Race_[U]',
       'Race_[W]', 'Final_ISN_[III]', 'Final_ISN_[III][V]', 'Final_ISN_[IV]',
       'Final_ISN_[IV][V]', 'Final_ISN_[V]', 'Final_Site_Cincinnati',
       'Final_Site_Einstein', 'Final_Site_JHU', 'Final_Site_Michigan',
       'Final_Site_MUSC', 'Final_Site_Northwell', 'Final_Site_NYU',
       'Final_Site_Rochester', 'Final_Site_Texas Tech', 'Final_Site_UCLA',
       'Final_Site_UCSD', 'Final_Site_UCSF'])
d.samplem.head()

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

warning: the following columns of obs are non-numeric.
['cell' 'sample' 'cluster_names' 'Responder.Status' 'Race' 'Final_ISN'
 'Type' 'Final_Site']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

,Sex,Age,Final_Chronicity,Final_Activity,First_biop,Pred_use,Responder_Status,Race_[A],Race_[A][B],Race_[B],...,Final_Site_JHU,Final_Site_Michigan,Final_Site_MUSC,Final_Site_Northwell,Final_Site_NYU,Final_Site_Rochester,Final_Site_Texas Tech,Final_Site_UCLA,Final_Site_UCSD,Final_Site_UCSF
sample,,,,,,,,,,,,,,,,,,,,,
AMPSLEkid_cells_0142,1.0,1.489979,4.0,16.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0366,2.0,-1.068691,7.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
AMPSLEkid_cells_0966,1.0,-0.794548,5.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
AMPSLEkid_cells_2748,1.0,-1.068691,8.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0138,1.0,0.576169,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [43]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [ ]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

# CHRONICITY

## Single Cell

In [99]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sc_meta.csv')
print(meta.shape)

(140034, 11)

In [100]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sc_harmony.csv')
print(harmony.shape)

(140034, 20)

In [101]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sc_umap.csv')
print(umap.shape)

(140034, 2)

In [102]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Final_Chronicity', 'Final_Activity'])
d.samplem.head()

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'cluster_names' 'Responder.Status' 'Race'
 'Final_ISN' 'Type']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

                      Final_Chronicity  Final_Activity
sample
AMPSLEkid_cells_0142               4.0            16.0
AMPSLEkid_cells_0366               7.0             2.0
AMPSLEkid_cells_0966               5.0             4.0
AMPSLEkid_cells_2748               8.0             1.0
AMPSLEkid_cells_0138               0.0             0.0

In [103]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [104]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [105]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Final_Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 46.349185943603516
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 30.39740753173828
	20th percentile R2(t,t-1): 0.7639257311820984
	taking step 3
	median kurtosis: 20.410869598388672
	20th percentile R2(t,t-1): 0.908935010433197
	taking step 4
	median kurtosis: 13.953994750976562
	20th percentile R2(t,t-1): 0.9450386166572571
	taking step 5
	median kurtosis: 9.980635643005371
	20th percentile R2(t,t-1): 0.963342547416687
	taking step 6
	median kurtosis: 7.617109298706055
	20th percentile R2(t,t-1): 0.9739270806312561
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_association.py:57: UserWarning: data supported use of 20 NAM PCs, which is the maximum considered. Consider allowing more PCs by using the "ks" argument.
  warnings.warn(('data supported use of {} NAM PCs, which is the maximum considered. '+\
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_association.py:74: UserWarning: global association p-value attained minimal possible value. Consider increasing Nnull
  warnings.warn('global association p-value attained minimal possible value. '+\

computing neighborhood-level FDRs
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 9.999000099990002e-05 , 20 PCs used
total r^2 between top 20 NAM PCs and outcome is 0.55

In [106]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Final_Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      covs = d.samplem[['Final_Activity']], 
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_association.py:74: UserWarning: global association p-value attained minimal possible value. Consider increasing Nnull
  warnings.warn('global association p-value attained minimal possible value. '+\

computing neighborhood-level FDRs
19
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 9.999000099990002e-05 , 19 PCs used
total r^2 between top 19 NAM PCs and outcome is 0.54

In [107]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sc_activity_cond_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sc_activity_cond_fdrs.csv", 
               res.fdrs, delimiter=",")

## Single Nuclear

In [108]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sn_meta.csv')
print(meta.shape)

(40416, 11)

In [109]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sn_harmony.csv')
print(harmony.shape)

(40416, 20)

In [110]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sn_umap.csv')
print(umap.shape)

(40416, 2)

In [111]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Final_Chronicity', 'Final_Activity'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'cluster_names' 'Responder.Status' 'Race'
 'Final_ISN' 'Type']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

                      Final_Chronicity  Final_Activity
sample
AMPSLEkid_cells_0137               3.0             5.0
AMPSLEkid_cells_0138               0.0             0.0
AMPSLEkid_cells_0139               3.0             2.0
AMPSLEkid_cells_0147               9.0             1.0
AMPSLEkid_cells_0366               7.0             2.0

In [112]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [113]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [114]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Final_Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 11.842386245727539
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 8.491312503814697
	20th percentile R2(t,t-1): 0.786330497264862
	taking step 3
	median kurtosis: 6.386176347732544
	20th percentile R2(t,t-1): 0.9200137615203857
stopping after 3 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
12
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.00029997000299970003 , 12 PCs used
total r^2 between top 12 NAM PCs and outcome is 0.80

In [115]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Final_Chronicity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      covs = d.samplem[['Final_Activity']], 
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
15
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.0004999500049995 , 15 PCs used
total r^2 between top 15 NAM PCs and outcome is 0.84

In [117]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sn_activity_cond_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/chronicity/sn_activity_cond_fdrs.csv", 
               res.fdrs, delimiter=",")

# ACTIVITY

## Single Cell

In [118]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/activity/sc_meta.csv')
print(meta.shape)

(140034, 11)

In [119]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/activity/sc_harmony.csv')
print(harmony.shape)

(140034, 20)

In [120]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/activity/sc_umap.csv')
print(umap.shape)

(140034, 2)

In [121]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Final_Chronicity', 'Final_Activity'])
d.samplem.head()

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'cluster_names' 'Responder.Status' 'Race'
 'Final_ISN' 'Type']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

                      Final_Chronicity  Final_Activity
sample
AMPSLEkid_cells_0142               4.0            16.0
AMPSLEkid_cells_0366               7.0             2.0
AMPSLEkid_cells_0966               5.0             4.0
AMPSLEkid_cells_2748               8.0             1.0
AMPSLEkid_cells_0138               0.0             0.0

In [122]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [123]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [124]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Final_Activity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 46.349185943603516
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 30.39740753173828
	20th percentile R2(t,t-1): 0.7639257311820984
	taking step 3
	median kurtosis: 20.410869598388672
	20th percentile R2(t,t-1): 0.908935010433197
	taking step 4
	median kurtosis: 13.953994750976562
	20th percentile R2(t,t-1): 0.9450386166572571
	taking step 5
	median kurtosis: 9.980635643005371
	20th percentile R2(t,t-1): 0.963342547416687
	taking step 6
	median kurtosis: 7.617109298706055
	20th percentile R2(t,t-1): 0.9739270806312561
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test
computing neighborhood-level FDRs
4
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.007599240075992401 , 4 PCs used
total r^2 between top 4 NAM PCs and outcome is 0.13

In [125]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Final_Activity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      covs = d.samplem[['Final_Chronicity']], 
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test
computing neighborhood-level FDRs
4
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.0072992700729927005 , 4 PCs used
total r^2 between top 4 NAM PCs and outcome is 0.13

In [126]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/activity/sc_chronicity_cond_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/activity/sc_chronicity_cond_fdrs.csv", 
               res.fdrs, delimiter=",")

## Single Nuclear

In [127]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/activity/sn_meta.csv')
print(meta.shape)

(40416, 11)

In [128]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/activity/sn_harmony.csv')
print(harmony.shape)

(40416, 20)

In [129]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/activity/sn_umap.csv')
print(umap.shape)

(40416, 2)

In [130]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Final_Chronicity', 'Final_Activity'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'cluster_names' 'Responder.Status' 'Race'
 'Final_ISN' 'Type']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

                      Final_Chronicity  Final_Activity
sample
AMPSLEkid_cells_0137               3.0             5.0
AMPSLEkid_cells_0138               0.0             0.0
AMPSLEkid_cells_0139               3.0             2.0
AMPSLEkid_cells_0147               9.0             1.0
AMPSLEkid_cells_0366               7.0             2.0

In [131]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [132]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [133]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Final_Activity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 11.842386245727539
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 8.491312503814697
	20th percentile R2(t,t-1): 0.786330497264862
	taking step 3
	median kurtosis: 6.386176347732544
	20th percentile R2(t,t-1): 0.9200137615203857
stopping after 3 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
17
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.36136386361363865 , 17 PCs used
total r^2 between top 17 NAM PCs and outcome is 0.61

In [135]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem.Final_Activity, #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      covs = d.samplem[['Final_Chronicity']], 
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
16
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.47535246475352466 , 16 PCs used
total r^2 between top 16 NAM PCs and outcome is 0.57

# ISN

## Single Cell

In [136]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/ISN/sc_meta.csv')
print(meta.shape)

(154032, 27)

In [137]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/ISN/sc_harmony.csv')
print(harmony.shape)

(154032, 20)

In [138]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/ISN/sc_umap.csv')
print(umap.shape)

(154032, 2)

In [139]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Final_ISN_[III]', 'Final_ISN_[III][V]', 'Final_ISN_[IV]',
                 'Final_ISN_[IV][V]', 'Final_ISN_[V]'])
d.samplem.head()

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'cluster_names' 'Responder.Status' 'Race'
 'Final_ISN' 'Type' 'cell.1' 'Sex.1' 'sample.1' 'cluster_names.1'
 'Responder.Status.1' 'Race.1' 'Final_ISN.1' 'Type.1']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

,Final_ISN_[III],Final_ISN_[III][V],Final_ISN_[IV],Final_ISN_[IV][V],Final_ISN_[V]
sample,,,,,
AMPSLEkid_cells_0142,0.0,0.0,1.0,0.0,0.0
AMPSLEkid_cells_0366,0.0,1.0,0.0,0.0,0.0
AMPSLEkid_cells_0966,0.0,0.0,1.0,0.0,0.0
AMPSLEkid_cells_2748,0.0,0.0,0.0,0.0,1.0
AMPSLEkid_cells_0138,0.0,1.0,0.0,0.0,0.0

In [140]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [141]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [142]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Final_ISN_[III]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 50.24106979370117
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 33.02307891845703
	20th percentile R2(t,t-1): 0.7615886211395264
	taking step 3
	median kurtosis: 22.02227783203125
	20th percentile R2(t,t-1): 0.9084737420082092
	taking step 4
	median kurtosis: 14.879904747009277
	20th percentile R2(t,t-1): 0.9440323233604431
	taking step 5
	median kurtosis: 10.545235633850098
	20th percentile R2(t,t-1): 0.9626616954803466
	taking step 6
	median kurtosis: 7.996293544769287
	20th percentile R2(t,t-1): 0.9743828177452087
stopping after 6 steps
covariate-adjusted NAM not found; computing and saving

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing SVD
performing association test
computing neighborhood-level FDRs
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.06619338066193381 , 10 PCs used
total r^2 between top 10 NAM PCs and outcome is 0.14

In [143]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Final_ISN_[III][V]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test
computing neighborhood-level FDRs
8
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.27747225277472254 , 8 PCs used
total r^2 between top 8 NAM PCs and outcome is 0.09

In [148]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Final_ISN_[IV]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test
computing neighborhood-level FDRs
4
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.025597440255974404 , 4 PCs used
total r^2 between top 4 NAM PCs and outcome is 0.10

In [149]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/myeloid/ISN/sc_ISN_[IV]_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/myeloid/ISN/sc_ISN_[IV]_fdrs.csv", 
               res.fdrs, delimiter=",")

In [145]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Final_ISN_[IV][V]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test
computing neighborhood-level FDRs
1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.7454254574542546 , 1 PCs used
total r^2 between top 1 NAM PCs and outcome is 0.01

In [150]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Final_ISN_[V]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test
computing neighborhood-level FDRs
3
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.023797620237976203 , 3 PCs used
total r^2 between top 3 NAM PCs and outcome is 0.09

In [151]:
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/myeloid/ISN/sc_ISN_[V]_ncorr.csv", 
               res.ncorrs, delimiter=",")
np.savetxt("/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/myeloid/ISN/sc_ISN_[V]_fdrs.csv", 
               res.fdrs, delimiter=",")

## Single Nuclear

In [152]:
meta = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/ISN/sn_meta.csv')
print(meta.shape)

(50173, 27)

In [153]:
harmony = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/ISN/sn_harmony.csv')
print(harmony.shape)

(50173, 20)

In [154]:
umap = pd.read_csv('/data/srlab/ssg34/SLE_kidney_v2/data/cna_new/PT/ISN/sn_umap.csv')
print(umap.shape)

(50173, 2)

In [155]:
# Start by making anndata object
d = mad.MultiAnnData(X=harmony, obs=meta, sampleid="sample")
#d.obs_to_sample(['Type', 'Site',
#                 'Responder_Status', 'Sex',
#                 'Age', 'Race',
#                'Ethnicity', 'ISN',
#               'Activity', "Chronicity",
#                 'processing_batch'])
d.obs_to_sample(['Final_ISN_[III]', 'Final_ISN_[III][V]', 'Final_ISN_[IV]',
                 'Final_ISN_[IV][V]', 'Final_ISN_[V]'])
d.samplem.head()

warning: the following columns of obs are non-numeric.
['cell' 'Sex' 'sample' 'cluster_names' 'Responder.Status' 'Race'
 'Final_ISN' 'Type' 'cell.1' 'Sex.1' 'sample.1' 'cluster_names.1'
 'Responder.Status.1' 'Race.1' 'Final_ISN.1' 'Type.1']
consider casting to numeric types where appropriate, and
consider re-coding text-valued columns with pandas.get_dummies

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/multianndata/core.py:17: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(*args, **kwargs)
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

,Final_ISN_[III],Final_ISN_[III][V],Final_ISN_[IV],Final_ISN_[IV][V],Final_ISN_[V]
sample,,,,,
AMPSLEkid_cells_0137,1.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0138,0.0,1.0,0.0,0.0,0.0
AMPSLEkid_cells_0139,0.0,1.0,0.0,0.0,0.0
AMPSLEkid_cells_0147,1.0,0.0,0.0,0.0,0.0
AMPSLEkid_cells_0366,0.0,1.0,0.0,0.0,0.0

In [156]:
umap.index = d.obs.index
d.obsm['X_umap'] = umap

In [157]:
np.random.seed(0) 
cna.pp.knn(d)

computing default knn graph

In [158]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Final_ISN_[IV]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

qcd NAM not found; computing and saving
	taking step 1
	median kurtosis: 13.259119033813477
	20th percentile R2(t,t-1): nan
	taking step 2
	median kurtosis: 9.410001754760742
	20th percentile R2(t,t-1): 0.7799340009689331
	taking step 3
	median kurtosis: 6.884187698364258
	20th percentile R2(t,t-1): 0.9179095029830933
stopping after 3 steps
covariate-adjusted NAM not found; computing and saving
computing SVD
performing association test

/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:79: UserWarning: only one unique batch supplied to qc
  warnings.warn('only one unique batch supplied to qc')
/PHShome/ssg34/.conda/envs/plswork/lib/python3.9/site-packages/cna/tools/_nam.py:101: UserWarning: only one unique batch supplied to prep
  warnings.warn('only one unique batch supplied to prep')

computing neighborhood-level FDRs
18
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.9583041695830417 , 18 PCs used
total r^2 between top 18 NAM PCs and outcome is 0.34

In [159]:
np.random.seed(0) 
res = cna.tl._association.association(d, #dataset 
                                      d.samplem['Final_ISN_[V]'], #phenotype
#                                       batches=d.samplem.processing_batch, #batches
                                      Nnull=10000, # number of null permutations to do (defaults to only 1e3)
                                      ks=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] # I asked the method to consider up to 10 PCs because
                                                                #it chose the max number of PCs it considered the default set of [1,2,3,4]
                                     )
print(res.k)
print(res.ks)
print('p =', res.p, ',', res.k, 'PCs used')
print('total r^2 between top {} NAM PCs and outcome is {:.2f}'.format(res.k, res.r2))

performing association test
computing neighborhood-level FDRs
12
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
p = 0.7552244775522448 , 12 PCs used
total r^2 between top 12 NAM PCs and outcome is 0.34